@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

.container {
  display: flex;
  justify-content: space-between; /* Espaço entre logo e os itens à direita */
  align-items: center; 
  background-image: url(../../assets/images/background-home.jpeg);
  background-position: 10% 80%;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 1rem;
  z-index: 1000;
}

.rightItems {
  display: flex; /* Organiza os itens em linha */
  align-items: center; /* Alinha os itens verticalmente */
  gap: 20px; /* Espaço entre os itens */
  margin-left: auto; /* Alinha os itens à direita */
}

.username {
  font-family: "League Spartan", sans-serif;
  color: white;
  font-size: 17px;
  font-weight: 600;
  margin: 0;  /* tiraqualquer margem que poderia deslocar o nome de usuario */
}

.username:hover {
  color: #9DCE5B;
}

.home, .menu {
  color: white;
}

.home:hover, .menu:hover {
  color: #9DCE5B;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    height: 60px;  
  }

  .username {
    font-size: 14px;  
  }

  .rightItems {
    gap: 10px;  /* Reduz o espaçamento entre os itens em telas pequenas */
  }
}
