.container {
  position: absolute;
  bottom: -2930px;
  width: 100%;
  background: url('../../assets/background-home.jpeg') no-repeat bottom center;
  background-size: cover;
  padding: 7.8125rem 0 4.6875rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
}

.ief {
  width: 150px;
}

.vale {
  width: 150px;
}

.ufsj {
  width: 75px;
}

.faped {
  width: 150px;
}
