.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/images/background-home.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 150px; 
  padding: 1rem;
  z-index: 1000;
  margin-top: 40px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ief, .vale, .faped {
  max-width: 95px; 
  height: auto;
}

.ufsj{
  max-width: 60px;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    height: 120px;
    flex-direction: column;
  }

  .content {
    gap: 15px;
    flex-direction: column;
  }

  .ief, .vale, .ufsj, .faped {
    max-width: 60px; 
  }
}
