.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/images/background-home.jpeg);
  background-position: center;
  background-size: cover;
  background-position: 60% 210%;
  width: 100%;
  height: 150px;
  padding: 5.8125rem 0 4.6875rem;
  z-index: 1000;
  margin-top: 40px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ief, .vale, .faped {
  max-width: 150px;
  height: auto;
}

.ufsj {
  max-width: 75px;
}

/* Responsividade para telas de 768px */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    min-height: 120px;
    padding: 0.5rem; 
  }

  .content {
    gap: 15px;
    flex-direction: column;
  }

  .ief, .vale, .ufsj, .faped {
    max-width: 60px;
  }
}

/* Responsividade para telas de 480px */
@media (max-width: 480px) {
  .container {
    padding: 0.5rem;
  }

  .ief, .vale, .ufsj, .faped {
    max-width: 45px; 
  }

  .content {
    gap: 10px; 
  }
}
