h5{
  font-size: 30px;
  margin: 12px;
  left: 30px;
  
}

.firstsection{ 
position: relative;
  width:100%; 
  max-width: 1200px;
  height: 1500px; 
  background-color: white;
  margin: 0 auto;
  padding: 25px;
  border-radius: 7px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



.secondsection {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 20px; /* Espaçamento entre o container de boxes e o fullWidthBox */
}

.box-container {
 display: flex;
 justify-content: space-between;
 width: 100%;
 max-width: 1250px; /* Define uma largura máxima para os 3 boxes juntos */
 gap: 20px; /* Espaçamento entre os boxes */
}

.box {
 margin: 20px -1px;
 flex: 1; /* Faz os boxes ocuparem o mesmo espaço */
 height: 300px;
 width: 350px;
 background-color: white;
 border-radius: 7px;
 text-align: center;
 padding: 20px;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.fullWidthBox {
 width: 100%;
 max-width: 1200px  ; 
 height: 425px; 
 background-color: white;
 border-radius: 7px;
 padding: 25px;
 text-align: center;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 display: block;
 
}


.threesection{
width:100%; 
display: flex;
justify-content: center;  
height: 100px;

}

.container {
width: 1250px; 
height: 550px;  
margin-top: 20px ;   
margin-bottom: 20px ;         
background-color: white; 
padding: 20px;            
border-radius: 7px;     
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.data-table-header {
display: flex;
align-items: center;
gap: 17px; /* Espaço entre o ícone e o texto */
margin-left: 10px;
}

.data-table-header h5 {
font-family: 'Montserrat', sans-serif;
font-size: 25px; 
color: #000000;
margin: 0;
}

p{
  font-size: 30px;
  font-weight: 300;
 
  top: -90px;
  left: 70px
}

h5 {
  font-weight: 500;
}

hr{
height: 1350px; 
background-color: #ADAEA8; 
border: none; 
width:0.1px; 
margin: 0 auto; 
position: absolute; 
top: 65px; 
left: 48.5%;
transform: translateX(-50%); 

}

